.contacts {
   background: url(https://i.ibb.co/nB6dpD2/Group22.png);
   width: 100%;
   min-height: 600px;

   &__conteiner {}

   &__block-info-conteiner {
      background: url(https://i.ibb.co/nB6dpD2/Group22.png);
      width: 300px;
      height: 399px;

   }
}